$icon-size: 6vw;
.remote {
  position: relative;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: $icon-size;
  height: min-content;
  margin: 0 $icon-size / 2;
}

.mainIcon {
  width: $icon-size;
  height: $icon-size;
  z-index: 100;
}

.childIcon {
  position: absolute;
  z-index: 50;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  svg {
    width: $icon-size/1.5;
    height: $icon-size/1.5;
  }
}

.childIconSvg {
  width: $icon-size/2;
  height: $icon-size/2;
}

.iconText {
  // color: white;
  font-size: 0.8rem;
  // Make sure the icon text doesn't wrap.
  white-space: nowrap;
}
