@import "../../lib/load";

$navHandleSize: 3rem;

.mainFooter {
  background: $bg-color;
  position: relative;
  height: calc(#{$menu-height} + #{$navHandleSize});
  bottom: $navHandleSize;
  // height: $menu-height;
  overflow: hidden;
}

.mainNav {
  // height: 100%;
  height: $menu-height;
  background: inherit;
  position: absolute;
  width: 100%;
  // bottom: calc(-#{$menu-height} - 1rem);
  bottom: -$menu-height;
  left: 0;
  margin: 0;
  padding: 0;
  // max-height: 10vh;

  .mainMenu {
    display: flex;
    justify-content: space-between;
    height: 100%;

    li {
      border: 1px solid $fg-color;
      // Sass converts seamlessly between hex and
      background-image: linear-gradient(
        rgba($fg-color, 0.5) 0%,
        rgba($fg-color, 0) 60%
      );
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      cursor: pointer;
      transition: all 0.3s ease;
      // transition: transform 0.3s ease;
      box-shadow: none;

      span {
        text-shadow: 0px 0px 3px rgba(255, 255, 255, 0.5);
      }

      svg {
        margin: 0.5rem;
        // filter: drop-shadow(0px 0px 1px rgba(255,255,255,0.5));
        path {
          fill: lighten($bg-color, 40);
        }
      }

      &:active {
        transform: scale(0.9);
        // transition: transform 0.2s ease;
        transition: all 0.2s ease;
        // box-shadow: 0px -10px 30px rgba(255, 255, 255, 0.308);
        box-shadow: 0rem -0.9rem 3rem rgba(255, 255, 255, 0.308);
      }
    }
  }
}

.mainNavHandle {
  height: $navHandleSize;
  width: $navHandleSize;
  // background: #f0f;
  position: absolute;
  // transform: translateY(-100%);
  top: -$navHandleSize;
  // left: 0;
  right: 0;
  cursor: pointer;
  svg {
    pointer-events: all;
    path {
      stroke: #fff;
    }
  }
}

.icon {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  // cursor: pointer;
  // transition: all 0.3s ease;
  // // transition: transform 0.3s ease;
  // box-shadow: none;

  span {
    text-shadow: 0px 0px 3px rgba(255, 255, 255, 0.5);
  }

  svg {
    margin: 0.5rem;
    // filter: drop-shadow(0px 0px 1px rgba(255,255,255,0.5));
    path {
      fill: lighten($bg-color, 40);
    }
  }
}
