@import "../../lib/load";

$navHandleSize: 3rem;

// TODO: fix chevron glitches by disabling box-shadow on <li>

.mainFooter {
  // background: $bg-color;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: calc(#{$menu-height} + #{$navHandleSize});
  // position: relative;
  // bottom: $navHandleSize;
  // background: transparent;
  // height: $menu-height;
  pointer-events: none;
  overflow: hidden;
  z-index: 5000;
}

.mainNav {
  pointer-events: all;
  perspective: 1000px;
  background: $bg-color;
  // height: 100%;
  height: $menu-height;
  // background: inherit;
  position: absolute;
  width: 100%;
  // bottom: calc(-#{$menu-height} - 1rem);
  bottom: -$menu-height;
  left: 0;
  margin: 0;
  padding: 0;
  z-index: 100;
  // display: flex;
  // max-height: 10vh;

  .mainMenu {
    display: flex;
    justify-content: space-between;
    height: 100%;
    will-change: transform;
    background: inherit;
    perspective: 100px;

    li {
      border: 1px solid $fg-color;
      // Sass converts seamlessly between hex and
      background-image: linear-gradient(
        rgba($fg-color, 0.5) 0%,
        rgba($fg-color, 0) 60%
      );
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      cursor: pointer;
      transition: all 0.3s ease;
      // transition: transform 0.3s ease;
      box-shadow: none;

      span {
        text-shadow: 0px 0px 3px rgba(255, 255, 255, 0.5);
      }

      svg {
        margin: 0.5rem;
        // filter: drop-shadow(0px 0px 1px rgba(255,255,255,0.5));
        path {
          fill: lighten($bg-color, 40);
        }
      }

      &:active {
        transform: scale(0.9);
        // transform:
        // transform: rotateX(8deg) translate3d(0, 0, 0);
        // transform: translate3d(20%, 0, 0);
        // transform-origin: bottom;
        // transition: transform 0.2s ease;
        transition: all 0.2s ease;
        // box-shadow: 0px -10px 30px rgba(255, 255, 255, 0.308);
        // box-shadow: 0rem -0.9rem 3rem rgba(255, 255, 255, 0.308);
      }
    }
  }
}
.activeNav {
  background: $fg-color;
}

.mainNavHandle {
  height: $navHandleSize;
  width: $navHandleSize;
  position: absolute;
  top: -$navHandleSize;
  right: 0.5rem;
  cursor: pointer;
  svg {
    pointer-events: all;
    path {
      stroke: #fff;
      fill: #fff;
    }
  }
}

.icon {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transform-origin: bottom;

  // cursor: pointer;
  // transition: all 0.3s ease;
  // // transition: transform 0.3s ease;
  // box-shadow: none;

  span {
    text-shadow: 0px 0px 3px rgba(255, 255, 255, 0.5);
  }

  svg {
    margin: 0.5rem;
    // filter: drop-shadow(0px 0px 1px rgba(255,255,255,0.5));
    path {
      fill: lighten($bg-color, 40);
    }
  }
}
