@import "./lib/load";

.mainContainer {
  position: relative;
  background: $bg-color;
  color: white;
  // The sass compiler will treat variables as strings in a calc() expression
  // this is done for CSS compatibility (could be a CSS --var() )
  // using interpolation to explicitly get the value of the variable.
  height: calc(100vh - #{$menu-height});
}

.contentArea {
  height: 100%;
  overflow-y: auto;
  padding: 0 5%;
  // padding: 4vw;
}
